<!--<div class="input-group mr-2">-->
    <!--<input [ngClass]="ngControl?.valid ? 'ng-valid' : 'ng-invalid'"-->
           <!--class="form-control"-->
           <!--(blur)="inputBlur($event)"-->
           <!--[ngModel]="dateString | date:inputDatetimeFormat"-->
           <!--(change)="onInputChange($event)"-->
           <!--[disabled]='disabled' />-->

    <!--<div class="input-group-append">-->
        <!--<button class="btn btn-outline-secondary"-->
                <!--[ngbPopover]="calendarContent"-->
                <!--[disabled]='disabled' type="button">-->
            <!--&lt;!&ndash;<fa-icon [icon]="['far', 'calendar']"></fa-icon>&ndash;&gt;-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->

<!--<ng-template #calendarContent>-->
    <!--<div >-->
        <!--<div *ngIf="!showTimePickerToggle" >-->
            <!--<div class="btn-row">-->
                <!--<button class="btn btn-block btn-outline-secondary btn-item"-->
                        <!--[disabled]="!datetime?.day"-->
                        <!--type="button"-->
                        <!--(click)="toggleDateTimeState($event)">-->
                    <!--&lt;!&ndash;<fa-icon [icon]="['far', 'clock']"></fa-icon>&ndash;&gt;-->
                    <!--<mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>-->
                    <!--hello-->
                <!--</button>-->

                <!--<button class="btn btn-block btn-outline-secondary btn-item"-->
                        <!--type="button"-->
                        <!--(click)="close(dp)">-->
                    <!--&lt;!&ndash;<fa-icon [icon]="['far', 'clock']"></fa-icon>&ndash;&gt;-->
                    <!--<mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>-->
                    <!--good-->
                <!--</button>-->
            <!--</div>-->
            <!--<ngb-datepicker #dp name="datepicker"-->
                            <!--[ngModel]="datetime"-->
                            <!--(ngModelChange)="onDateChange($event)">-->
            <!--</ngb-datepicker>-->


        <!--</div>-->
        <!--<div *ngIf="showTimePickerToggle" >-->
            <!--<div class="mt-auto">-->
                <!--<button class="btn btn-block btn-outline-secondary"-->
                        <!--[ngbPopover]="calendarContent"-->
                        <!--type="button"-->
                        <!--(click)="toggleDateTimeState($event)">-->
                    <!--&lt;!&ndash;<fa-icon [icon]="['far', 'calendar']"></fa-icon>&ndash;&gt;-->
                <!--</button>-->

                <!--<button class="btn btn-block btn-outline-secondary"-->
                        <!--type="button"-->
                        <!--(click)="close(dp)">-->
                    <!--&lt;!&ndash;<fa-icon [icon]="['far', 'clock']"></fa-icon>&ndash;&gt;-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="mt-auto">-->
                <!--<ngb-timepicker #tp name="timepicker"-->
                                <!--[ngModel]="datetime"-->
                                <!--(ngModelChange)="onTimeChange($event)"-->
                                <!--[seconds]="seconds"-->
                                <!--[hourStep]="hourStep"-->
                                <!--[minuteStep]="minuteStep"-->
                                <!--[secondStep]="secondStep">-->
                <!--</ngb-timepicker>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</ng-template>-->

